@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');

html {
  background-color: #ffffff;
}

body {
  min-height: 100%;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

main {
  position: relative;
  width: 100vw;
  display: block;
}